<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="EmpObj" class="in.ro.beans.Employee">
        	<property name="id" value="200983"/>
        	<property name="name" value="Robin Sunita Roy"/>
        	<property name="post" value="Software Developer"/>
        	<property name="location" value="Pune"/>
        </bean>
        
        </beans>